<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/style :: head"></head>
<body>
<header th:insert="fragments/menu :: navbar"></header>
<div class="container-fluid">

    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h1">Create your Recipe</div>
            </div>
            <form class="" th:action="${'/recipe/edit/' + recipe.id}" th:object="${recipeForm}" method="post">
                <table class="table">
                    <tr>
                        <th>
                            <label for="title">Name of Recipe:</label>
                        </th>
                        <th>
                            <input class="form-control form-control-sm" type="text" id="title" th:field="*{title}"
                                   th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}">
                            <span class="text-danger" th:errors="*{title}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="description">Additional Information:</label>
                        </th>
                        <th>
                            <input class="form-control form-control-sm" type="text" id="description"
                                   th:field="*{description}"
                                   th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}">
                            <span class="text-danger" th:errors="*{description}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="servings">Portions:</label>
                        </th>
                        <th>
                            <input class="form-control form-control-sm" type="number" id="servings" name="servings"
                                   th:field="*{servings}"
                                   th:classappend="${#fields.hasErrors('servings') ? 'is-invalid' : ''}">
                            <span class="text-danger" th:errors="*{servings}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="instruction">Instruction:</label>
                        </th>
                        <th>
                    <textarea class="form-control form-control-sm" type="text" id="instruction" name="instruction"
                              th:field="*{instruction}"
                              th:classappend="${#fields.hasErrors('instruction') ? 'is-invalid' : ''}"> </textarea>
                            <span class="text-danger" th:errors="*{instruction}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="difficulty">Difficulty:</label>
                        </th>
                        <th>
                            <select class="form-control form-control-sm" id="difficulty" name="difficulty"
                                    th:field="*{difficulty}">
                                <option th:each="difficulty : ${difficultyList}" th:value="${difficulty}"
                                        th:text="${difficulty}"></option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="prepTime">Preparation Time:</label>
                        </th>
                        <th>
                            <input class="form-control form-control-sm" type="number" min="0" id="prepTime"
                                   name="prepTime"
                                   th:field="*{prepTime}"
                                   th:classappend="${#fields.hasErrors('prepTime') ? 'is-invalid' : ''}">
                            <span class="text-danger" th:errors="*{prepTime}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="cookTime">Cooking Time:</label>
                        </th>
                        <th>
                            <input class="form-control form-control-sm" type="number" id="cookTime" name="cookTime"
                                   th:field="*{cookTime}"
                                   th:classappend="${#fields.hasErrors('cookTime') ? 'is-invalid' : ''}">
                            <span class="text-danger" th:errors="*{cookTime}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="isPrivat">Private Recipe?</label>
                        </th>
                        <th>
                            <input class="form-control-sm" type="checkbox" id="isPrivat" name="isPrivat"
                                   th:field="*{isPrivat}">
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button class="btn btn-primary btn-sm" type="submit">Save Recipe</button>
                        </th>
                        <th>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h1">Add Ingredients</div>
            </div>
            <table class="table" th:if="${recipe.ingredientEntries != null and recipe != null}">
                <tr>
                    <th>Amount</th>
                    <th>Unit of Measurement</th>
                    <th>Name of Ingredient</th>
                    <th></th>
                </tr>
                <tr th:each="ingredient : ${recipe.ingredientEntries}">
                    <td th:text="${ingredient.amount}" name="amount"></td>
                    <td th:text="${ingredient.uom}" name="uom"></td>
                    <td th:text="${ingredient.name}" name="name"></td>
                    <th><a class="btn btn-primary btn-sm"
                           th:href="${'/recipe/edit/' + recipe.id + '/deleteIngredient/' + ingredientStat.index}">Delete
                        Ingredient</a></th>
                </tr>
                <tr>
                    <form th:action="${'/recipe/edit/' + recipe.id + '/add-ingredient/'}" th:object="${ingredientForm}"
                          method="post">
                        <th><input class="form-control form-control-sm" type="number" id="amount" th:field="*{amount}"
                                   th:classappend="${#fields.hasErrors('amount') ? 'is-invalid' : ''}"><span
                                class="text-danger" th:errors="*{amount}"/></th>
                        <th><select class="form-control form-control-sm" id="uom" th:field="*{uom}">
                            <option th:each="unitOfMeasure : ${unitOfMeasureList}" th:text="${unitOfMeasure}"
                                    th:value="${unitOfMeasure}"></option>
                        </select></th>
                        <th><input class="form-control form-control-sm" type="text" id="name" th:field="*{name}"
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"><span
                                class="text-danger" th:errors="*{name}"/></th>
                        <th>
                            <button class="btn btn-primary btn-sm" type="submit" name="action" value="addIngredient">Add
                                Ingredient
                            </button>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>
                        <form th:action="${'/recipe/edit/' + recipe.id + '/deleteRecipe/'}" method="post" class="form">
                            <button type="submit" class="btn-sm btn btn-danger">Delete Recipe</button>
                        </form>
                    </th>
                </tr>
            </table>
        </div>
        <div class="col"></div>
    </div>

</div>
</body>
</html>