<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/commentStyle :: head"></head>
<body>
<header th:insert="fragments/menu :: navbar"></header>
<div class="container-fluid">

    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h1" th:text="${recipe.title}"></div>
            </div>
            <div class="row">
                <div class="col" th:text="${recipe.description}"></div>
            </div>
            <div class="row pt-4">
                    <div class="col h5">Instruction:</div>
            </div>
            <div class="row">
                <div class="col overflow-auto" style="max-height:300px" th:text="${recipe.instruction}"></div>
            </div>
            <div class="row pt-4">
                <div class="col h5">Infos:</div>
                <div class="col h5">Ingredients:</div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <table class="table table-hover">
                        <tr>
                            <th class="th-normal">Difficulty:</th>
                            <th class="th-bold" th:text="${recipe.difficulty}"></th>
                        </tr>
                        <tr>
                            <th class="th-normal">Preparation Time:</th>
                            <th class="th-bold"  th:text="${recipe.prepTime}"></th>
                        </tr>
                        <tr>
                            <th class="th-normal">Cooking Time:</th>
                            <th class="th-bold"  th:text="${recipe.cookTime}"></th>
                        </tr>
                        <tr>
                            <th class="th-normal">Privat Recipe:</th>
                            <th class="th-bold"  th:text="${recipe.isPrivat}"></th>
                        </tr>
                    </table>
                </div>
                <div class="col" th:if="${recipe.ingredientEntries != null and recipe != null}">
                    <div class="row pb-1 pl-3" th:each="ingredient : ${recipe.ingredientEntries}">
                        <div class="card" th:text="${ingredient.amount + ' ' + ingredient.uom + ' ' + ingredient.name}"></div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col"></div>
    </div>

    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-7">
            <a th:href="${'/recipe/edit/' + recipe.id}" th:if="${isUserOwner}" class="btn btn-primary">Edit Recipe</a>
        </div>
        <div class="col"></div>
    </div>

    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h5">Comments:</div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-7">
            <form th:action="${'/recipe/' + recipe.id + '/add-comment/'}" th:object="${commentForm}"  method="post" class="mt-5">
                <input value="0" type="hidden" class="rating" data-show-clear="false" data-show-caption="true" data-size="sm" th:field="*{rating}">
                <div class="d-flex flex-row pb-3">
                    <p class="text-danger" th:if="${#fields.hasErrors('rating')}">Please give a rating!</p>
                </div>
                <div class="d-flex flex-row pb-3">
                    <textarea class="form-control" placeholder="write a comment..." rows="3" th:field="*{textContent}" th:classappend="${#fields.hasErrors('textContent') ? 'is-invalid' : ''}"></textarea>
                </div>
                <div class="text-danger" th:errors="*{textContent}"></div>
                <div class="d-flex flex-row justify-content-end pb-3">
                    <button class="btn btn-primary btn-sm" name="action" value="addComment" type="submit">Post</button>
                </div>
                <hr>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-5">
            <div class="pt-4" th:if="${recipeComments.isEmpty() == false}">
                <table class="table">
                    <tr th:each="comment : ${recipeComments}">
                        <th style="width: 25%">
                                <input th:value="${comment.rating}" class="rating displayOnly" readonly="true" disabled="true" data-show-clear="false" data-show-caption="true" data-size="xs">
                        </th>
                        <th>
                            <div class="font-weight-bold" style="width: 25%" th:text="'@'+${comment.getOwner().name}"></div>
                        </th>
                        <th class="th-normal">
                            <div th:text="${comment.textContent}"></div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>