<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/commentStyle :: head"></head>
<body>
<header th:insert="fragments/menu :: navbar"></header>
<div class="container-fluid">

    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h1" th:text="${recipe.title}"></div>
            </div>
            <div class="row">
                <div class="col" th:text="${recipe.description}"></div>
            </div>
            <div class="row">
                <div class="col"><hr></div>
            </div>
            <div class="row pt-4">
                <div class="col h5" th:text="#{Instruction}"></div>
            </div>
            <div class="row">
                <div class="col overflow-auto" style="max-height:300px" th:text="${recipe.instruction}"></div>
            </div>
            <div class="row">
                <div class="col"><hr></div>
            </div>
            <div class="row pt-4">
                <div class="col h5" th:text="#{Information}"></div>
                <div class="col h5" th:text="#{Ingredients}"></div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th class="th-normal" th:text="#{Difficulty}"></th>
                            <th class="th-bold" th:text="${recipe.difficulty}"></th>
                        </tr>
                        <tr>
                            <th class="th-normal" th:text="#{PreparationTime}"></th>
                            <th class="th-bold" th:text="${recipe.prepTime}"></th>
                        </tr>
                        <tr>
                            <th class="th-normal" th:text="#{CookingTime}"></th>
                            <th class="th-bold" th:text="${recipe.cookTime}"></th>
                        </tr>
                        <tr>
                            <th class="th-normal" th:text="#{PrivateRecipe}"></th>
                            <th class="th-bold" th:text="${recipe.isPrivat}"></th>
                        </tr>
                        <form th:action="${'/recipe/' + recipe.id}" method="get" th:object="${amountServingsForm}">
                            <tr>
                                <th class="th-normal" th:text="#{Portions}"></th>
                                <th class="th-bold row">
                                    <input class="form-control form-control-sm col-7 ml-3" type="number"
                                           name="amountServingsEntry" placeholder="AmountServings"
                                           th:value="*{amountServings}"
                                           th:classappend="${#fields.hasErrors('amountServings') ? 'is-invalid' : ''}">
                                    <button class="btn btn-primary btn-sm col ml-2" type="submit">Calculate</button>
                                </th>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
                <div class="col" th:if="${recipe.ingredientEntries != null and recipe != null}">
                    <div class="row pb-1 pl-3" th:each="ingredient : ${recipe.ingredientEntries}">
                        <div class="card"
                             th:text="${#numbers.formatDecimal(ingredient.amount*servingsFactor, 0, 0) + ' ' + ingredient.uom + ' ' + ingredient.name}"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>

    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-7">
            <a th:href="${'/recipe/edit/' + recipe.id}" th:if="${isUserOwner}" class="btn btn-primary" th:text="#{EditRecipe}">Edit Recipe</a>
        </div>
        <div class="col"></div>
    </div>

    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-7">
            <div class="row">
                <div class="col"><hr></div>
            </div>
            <div class="row pt-4">
                <div class="col h5" th:text="#{Comments}"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-7">
            <form th:action="${'/recipe/' + recipe.id + '/add-comment/'}" th:object="${commentForm}" method="post"
                  class="mt-5">
                <input value="0" type="hidden" class="rating" data-show-clear="false" data-show-caption="true"
                       data-size="sm" th:field="*{rating}">
                <div class="d-flex flex-row pb-3">
                    <p class="text-danger" th:if="${#fields.hasErrors('rating')}" th:text="#{Pleasegivearating}">Please give a rating!</p>
                </div>
                <div class="d-flex flex-row pb-3">
                    <textarea class="form-control" placeholder="write a comment..." rows="3" th:field="*{textContent}"
                              th:classappend="${#fields.hasErrors('textContent') ? 'is-invalid' : ''}"></textarea>
                </div>
                <div class="text-danger" th:errors="*{textContent}"></div>
                <div class="d-flex flex-row justify-content-end pb-3">
                    <button class="btn btn-primary btn-sm" name="action" value="addComment" type="submit" th:text="#{Post}">Post</button>
                </div>
                <hr>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-5">
            <div class="pt-4" th:if="${recipeComments.isEmpty() == false}">
                <table class="table">
                    <tr th:each="comment : ${recipeComments}">
                        <th style="width: 25%">
                            <input th:value="${comment.rating}" class="rating displayOnly" readonly="true"
                                   disabled="true" data-show-clear="false" data-show-caption="true" data-size="xs">
                        </th>
                        <th>
                            <div class="font-weight-bold" style="width: 25%"
                                 th:text="'@'+${comment.getOwner().name}"></div>
                        </th>
                        <th class="th-normal">
                            <div th:text="${comment.textContent}"></div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>