### Gradle ###
# Exclude Folder List #
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/out/
.gradle

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

