<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/style :: head"></head>
<body>
<header th:insert="fragments/menu :: navbar"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h1">Register</div>
            </div>
            <form th:action="@{/create-user}" th:object="${userValidationForm}" method="POST" enctype="utf8">

                <input class="form-control form-control-sm" type="text" placeholder="username" th:field="*{name}"/>

                <input class="form-control form-control-sm" type="text" placeholder="password" th:field="*{passwordFirst}"/>

                <input class="form-control form-control-sm" type="text" placeholder="password"  th:field="*{passwordSecond}"/>

                <button class="btn btn-primary btn-sm" type="submit">Create Account</button>
            </form>
            <span th:if="${(param.error != null)}">
                <p style="color: red"> Regestrierung fehlgeschlagen</p>
            </span>
        </div>
        <div class="col"></div>
    </div>
</div>
</div>
</body>
</html>