<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/style :: head"></head>
<body>
<header th:insert="fragments/menu :: navbar"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="row pt-4">
                <div class="col h1" th:text="#{EditProfile}"></div>
            </div>
            <form th:action="${'/user/edit-user'}" th:object="${changePasswordForm}" method="post">
                <table class="table borderless">
                    <tr>
                        <th style="width: 15%">
                            <label for="password" th:text="#{NewPasswort}">New password:</label>
                        </th>
                        <th>
                            <input class="form-control form-control-sm" type="text" id="password" th:field="*{newPassword}">
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button class="btn btn-primary btn-sm" type="submit" th:text="#{ChancePasswort}"></button>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>