<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/style :: head"></head>
<body>
<div class="container">
    <nav th:insert="fragments/menu :: navbar"></nav>
    <div class="my-4">
        <H1>Benutzer-Profil</H1>
        <table class="table">
            <tbody>
            <tr>
                <td>Username:</td>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a th:href="${'/user/edit-user'}" class="btn btn-primary">Passwort ändern</a>
                </td>
            </tr>
            </tbody>
        </table>
        <H1>Rezepte</H1>

        <table class="table">
            <tbody>
            <tr th:each="recipe : ${userRecipes}">
                <td th:text="${recipe.getTitle()}"></td>
                <td style="text-align: right">
                    <a th:href="${'/recipe/edit/' + recipe.getId()}" class="btn btn-primary">Edit Recipe</a>
                </td>

            </tr>

            </tbody>
        </table>

        <H1>Kommentare</H1>

        <table class="table">
            <tbody>
            <tr th:each="comment : ${userComments}">
                <td th:text="${comment.getRecipe().getTitle()}"></td>
                <td th:text="${comment.getTextContent()}"></td>
                <td style="text-align: right">
                    <a th:href="${'/user/edit-comment/' + comment.getId()}" class="btn btn-primary">Edit Comment</a>
                </td>
            </tr>

            </tbody>
        </table>


    </div>
</div>
</body>
</html>