<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand h1" th:href="${'/'}">easyRecipe</a>
     <div class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
         <a class="nav-link active" th:href="${'/'}">Home</a>
     </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" th:href="${'/login'}">Login</a>
        <a class="nav-item nav-link active" th:href="${'/user'}">Account</a>
        <form  class="float-right" method="post" th:action="@{/logout}">
            <button class="nav-item nav-link active btn btn-link" type="submit">
                <span th:text="${#httpServletRequest.remoteUser}" />
                abmelden
            </button>

        </form>
    </div>
</nav>
</body>
</html>