<div class="row" th:fragment="navbar">
    <div class="col"></div>
    <div class="col-7">
        <div class="row d-flex flex-column">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand h1" th:href="${'/'}" th:text="#{easyRecipe}" ></a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="${'/'}" th:text="#{Home}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="${'/user'}" th:text="#{Account}"></a>
                        </li>
                    </ul>
                </div>
                <div class="mr-2">
                    <select class="custom-select form-control bg-dark text-white" aria-label="Default select example">
                        <option value="1">English</option>
                        <option value="2">German</option>
                    </select>
                </div>
                <form  class="float-right" method="post" th:action="@{/logout}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{logout}" >
                        <span th:text="'@'+${#httpServletRequest.remoteUser} "></span></button>
                </form>
                <a class="btn btn-outline-success my-2 my-sm-0" th:href="${'/login'}" th:text="#{login}" ></a>
            </nav>
        </div>
    </div>
    <div class="col"></div>
</div>