html { overflow-y: scroll; }

.th-normal {
    font-weight: normal;
}

.th-bold {
    font-weight: bold;
}

.borderless td, .borderless th {
    border: none;
}

.table-line tr {
    border-bottom: 1px solid gray;
}