<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/style :: head"></head>
<body>
<header th:insert="fragments/menu :: navbar"></header>
<div class="container-fluid">

  <div class="row">
    <div class="col"></div>
    <div class="col-7">
      <div class="row pt-4">
        <div class="col h1">Search for recipes!</div>
      </div>
      <div class="row pt-4">
        <div class="col">
          <form class="form-inline" th:action="${'/easy-recipe'}" method="get">
            <input class="form-control mr-sm-2" name="search" placeholder="Search" th:value="${search}" type="text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col">
          <ul class="list-unstyled">
            <li th:each="recipe : ${recipes}">
              <a th:href="${'/recipe/' + recipe.id}" th:text="${recipe.title}"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col">
          <form action="/easy-recipe" method="post" class="form-inline" th:object="${recipeForm}">
            <input name="name" type="text" placeholder="Name" class="form-control mr-2" th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" th:field="*{title}">
            <button type="submit" class="btn btn-primary">Create new recipe</button>
            <span class="text-danger" th:errors="*{title}" />
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

</div>
</body>
</html>